{
  "printWidth": 150,
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": false,
  "arrowParens": "always",
  "trailingComma": "es5",
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^@nestjs/(.*)$",
    "^src/(.*)$",
    "^../",
    "^./"
  ]
}
